{% extends 'base.html.twig' %}
{% block body %}
        <div class="container py-3">
                <a class="text-decoration-none " href="{{ path('index') }}">← Back</a>
                <h1 class="p-5">{{ article.title }}</h1>
                <i>Published on {{ article.date|date("F jS Y")}}</i> <br><br>
                <img src="{{ asset('pictures/' ~ article.pictureFilename) }}" class="rounded mx-auto d-block">
                {{ article.content }}
        </div>

{% endblock %}